/* .Seraphine Food Hub{
    background-color: aqua;
    padding: 30px;
    margin: 100px;
    justify-content: space-evenly;
    border: 3pxsolid;

    border: 50px,50px,50px;
} */
.food{
    color: rgb(90, 187, 25);
    background-color: aquamarine;
}